{% extends "ladder/base.html" %}
{% load url from future %}
{% load static from staticfiles %}

{% load static from staticfiles %}

{% block pagetitle %}Crea tu avatar{% endblock %}

{% block includestylesheet %}
{{ block.super }}
{% endblock %}

{% block includejavascript %}
{{ block.super }}
<script src="{% static "ladder/javascript/scrollableslider.js" %}" language="javascript" type="text/javascript"></script>
<script>
    $(function() {
      $( ".scroll-content" ).slider();
      });
    </script>
{% endblock %}

{% block pagestyle %}
.jcarousel-skin-ie7 .jcarousel-container {
}

.jcarousel-skin-ie7 .jcarousel-direction-rtl {
direction: rtl;
}

.jcarousel-skin-ie7 .jcarousel-container-horizontal {
width: 380px;
padding: 0px 25px;
}
.jcarousel-skin-ie7 .jcarousel-clip {
overflow: hidden;
}

.jcarousel-skin-ie7 .jcarousel-clip-horizontal {
width:  380px;
height: 40px;
}

.jcarousel-skin-ie7 .jcarousel-item {
width: 40px;
height: 40px;
}

.jcarousel-skin-ie7 .jcarousel-item-horizontal {
margin-left: 0;
margin-right: 7px;
}

.jcarousel-skin-ie7 .jcarousel-direction-rtl .jcarousel-item-horizontal {
margin-left: 7px;
margin-right: 0;
}

.jcarousel-skin-ie7 .jcarousel-item-placeholder {
}

/**
*  Horizontal Buttons
*/
.jcarousel-skin-ie7 .jcarousel-next-horizontal {
position: absolute;
top: 5px;
right: 5px;
width: 15px;
height: 32px;
cursor: pointer;
background:url({% static "ladder/images/imagenes/next.png" %}) no-repeat center center;
}

.jcarousel-skin-ie7 .jcarousel-prev-horizontal {
position: absolute;
top: 5px;
left: 5px;
width: 15px;
height: 32px;
cursor: pointer;
background:url({% static "ladder/images/imagenes/prev.png" %}) no-repeat center center;
}

.jcarousel-skin-ie7 .jcarousel-direction-rtl .jcarousel-prev-horizontal {
left: auto;
right: 5px;
}



#main{
background:url({% static "ladder/images/imagenes/bg_silouette-01CAMP.png" %}) no-repeat right 0px;
height:100%;
}
.body-slider{
height:50px;
}
/*
each body part tab uses this class
*/
.boton{
clear:both;
}
div.body-part-picker-tab {

}
#scrollable-sliders #body-slider{
display:block;
}
/*
container for all body part tabs
*/
div#scrollable-sliders{

}
.bodypart-slider {
width: 300px;
margin: 18px 10px 20px;
line-height:50px;
vertical-align:middle;
float:left;
}
#bodies-scrollable-slider{
display:none;
}
div#eyebrows-scrollable-slider{
width:210px;
display:inline-block;
}
div#eyes-scrollable-slider{
width:160px;
display:inline-block;
}
span.iconoeyes-scrollable-slider {
display: inline-block;
margin: 5px 0px;
float:none;
}
span.iconoeyebrows-scrollable-slider {
display: block;
margin: 5px -5px 0px 0px;
}

.rollo{
float:left;
width:320px;
}
-.scroll-bar-wrap .ui-slider { background: none; border:0; height: 2em; margin: 0 auto;  }
41
-.scroll-bar-wrap .ui-handle-helper-parent { position: relative; width: 100%; height: 100%; margin: 0 auto; }
42
-.scroll-bar-wrap .ui-slider-handle { top:.2em; height: 1.5em; }
43
-.scroll-bar-wrap .ui-slider-handle .ui-icon { margin: -8px auto 0; position: relative; top: 50%; }
.scroll-pane { overflow: hidden; margin: 15px; position: relative; width:420px;}
.scroll-content { white-space: nowrap; position: relative; float: left; }
.jcarousel-skin-ie7 li, .scroll-content-item { margin: 0 5px; font-size: 3em; text-align: center; display: inline-block; position: relative; }
* html .scroll-content-item { display: inline; } /* IE6 float double margin bug */
.scroll-content-item a{
display:block; height:20px; width:20px; -moz-border-radius:15px; -webkit-border-radius:15px; border-radius:15px; border:thin solid #999; margin:10px;
}
.jThumbnailScroller{position:relative; width:420px; height:40px; margin:5px; padding:5px; overflow:hidden; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.jThumbnailScroller .jTscrollerContainer{position:absolute;}
.jThumbnailScroller .jTscroller{position:relative; height:100%; margin:0; left:0; top:0; display:inline-block; *display:inline;}
.jThumbnailScroller .jTscrollerNextButton,.jThumbnailScroller .jTscrollerPrevButton{position:absolute; display:block; width:40px; height:40px; -moz-border-radius:20px; -webkit-border-radius:20px; border-radius:20px; opacity:0.7;}
.jThumbnailScroller .jTscrollerNextButton{background:#000 url(nextArrow.png) center center;}
.jThumbnailScroller .jTscrollerPrevButton{background:#000 url(prevArrow.png) center center;}
.jThumbnailScroller .jTscrollerNextButton:hover,.jThumbnailScroller .jTscrollerPrevButton:hover{background-color:#d56916; opacity:1;}
.jThumbnailScroller .jTscroller div{display:block; float:left; border:5px solid #ddd; margin:6px 10px 6px 0; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
.jThumbnailScroller .jTscroller a:hover{border-color:#fff;}
.jThumbnailScroller .jTscroller div:first-child{margin-left:10px;}
.jThumbnailScroller .jTscroller div img{border:none;}
#scrollable-sliders #body-slider {
display: block;
height: 10px;
background: #ccc;
}
.ui-state-default, .ui-widget-content .ui-state-default,.ui-state-default {
border: 1px solid #999999;
background:#990033;
font-weight: bold;
color: rgb(238, 238, 238);
left: 0%;
height: 20px;
width: 20px;
margin: -6px -10px;
}
.ui-slider-range{
background:none !important;
}

{% endblock %}

{% block pageheader %}
<div>
	<h1>¡Crea tu avatar!</h1>
</div>
{% endblock %}

{% block pagebody %}
<canvas id='canvas' width='430' height='600'>
    Your browser doesn't support HTML 5. Please upgrade to a more current browser.
</canvas>
<div class="col1">
	<div id="skin-color" class="btn-group">
		<a id="skin-color-tag" class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
			Eleg&iacute; un color de piel
			<span class="caret"></span>
		</a>
		<div class="jThumbnailScroller" id="skin-choices">
			
		</ul>
	</div>
	<div id="faces-slider" style="clear: left;" class="bodypart-slider"></div>
	<div id="hairStyles-slider" style="clear: left;" class="bodypart-slider"></div>
	<div id="eyebrows-slider" style="clear: left;" class="bodypart-slider"></div>
	<div id="eyes-slider" style="clear: left;" class="bodypart-slider"></div>
	<div id="shirts-slider" style="clear: left;" class="bodypart-slider"></div>
	<div id="pants-slider" style="clear: left;" class="bodypart-slider"></div>
	<div id="shoes-slider" style="clear: left;" class="bodypart-slider"></div>
	<div id="helmets-slider" style="clear: left;" class="bodypart-slider"></div>
	<div id="accesories-slider" style="clear: left;" class="bodypart-slider"></div>
	<div id="scrollable-sliders">
    <div id="faces-scrollable-slider" class="scroll-pane jThumbnailScroller ui-widget-header ui-corner-all body-part-picker-tab"></div>
        <div id="hairstyles-scrollable-slider" class="scroll-pane jcarousel-skin-ie7 jThumbnailScroller ui-widget-header ui-corner-all body-part-picker-tab"></div>
        <div id="eyebrows-scrollable-slider" class="scroll-pane jThumbnailScroller ui-widget-header ui-corner-all body-part-picker-tab"></div>
    <div id="eyes-scrollable-slider" class="scroll-pane jThumbnailScroller ui-widget-header ui-corner-all body-part-picker-tab" style="margin:5px 2px"></div>
        <div class="body-slider">
        <div id="body-slider" class="bodypart-slider"></div>
            </div>
<div id="shoes-scrollable-slider" class="scroll-pane jThumbnailScroller ui-widget-header ui-corner-all body-part-picker-tab"></div>
        <div id="shirts-scrollable-slider" class="scroll-pane jThumbnailScroller ui-widget-header ui-corner-all body-part-picker-tab"></div>
        <div id="pants-scrollable-slider" class="scroll-pane jThumbnailScroller ui-widget-header ui-corner-all body-part-picker-tab"></div>
<div id="accesories-scrollable-slider" class="scroll-pane jcarousel-skin-ie7 jThumbnailScroller ui-widget-header ui-corner-all body-part-picker-tab">
</div>
    <div id="helmets-scrollable-slider" class="scroll-pane jThumbnailScroller ui-widget-header ui-corner-all body-part-picker-tab"></div>
	</div>
    <br/>
        
    <div class="boton">
		<button id="btn-continue" onclick="javascript: return confirmSimulationStart(); ">Continuar</button>
	</div>
    <br/>
</div>
<div id="dialog-confirm" title="Confirma tu avatar">
    <p>
    <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
    Est&aacute; completo tu avatar?
    </p>
</div>
{% endblock %}

{% block pagefooter %}
<script>
    var colors = [];
    var allFaces = [];
    var	allHairStyles = [];
    var allEyeBrows = [];
    var allEyes = [];
    var allBodies = [];
    var allShirts = [];
    var allPants = [];
    var allShoes = [];
    var allHelmets = [];
	var allAccesories = [];
    var faces = [];
    var hairStyles = [];
    var eyeBrows = [];
    var eyes = [];
    var bodies = [];
    var shirts = [];
    var pants = [];
    var shoes = [];
    var helmets = [];
	var accesories = [];
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    var current_selections = {};
    var avatar = new serempre.avatars.Avatar();
    var loadingIntervalReference = null;
	var lab_background = new Image();
	lab_background.onload = function(){
		avatar.background = lab_background;
	};
	lab_background.src = '{% static "/ladder/images/imagenes/bg_silouette-02LAB.png" %}';
    avatar.width = canvas.width;
    avatar.height = canvas.height;
    //when document completes loading, execute the following code
    $(document).ready(function(){
		//if there is no data about the origin and destination cargos, then redirect the user to the home page
		serempre.cargos.futurePaths = sessionStorage.futurePaths;
		if(! serempre.cargos.futurePaths){
			window.location.href='/';
		}
		//get ready to use wait dialogs in this page
		serempre.cargos.setupWaitDialog();
		//build a confirmation dialog for later use
		$( "#dialog-confirm" ).dialog({
			open: function(event,ui) {
				$(event.target).parent().find('button:first').addClass('btn').addClass('btn-primary');
			}, autoOpen: false,
			resizable: false,
			height:170,
			modal: true,
			buttons: {
				"Si": function() {
					$( this ).dialog( "close" );
					serempre.cargos.toggleWaitDialog('', 'icon-signal');
					sessionStorage.avatar = JSON.stringify( avatar.dumpToRawData( ) );
					sessionStorage.path = '[]';
					window.location.href = '{% url 'route-step' origin_pk target_pk sex %}';
				}, No: function() {
					$( this ).dialog( "close" );
				}
			}
		});
		//ask the user to wait
		serempre.cargos.toggleWaitDialog('', 'icon-signal');
		//start loading all assets
		{% for item in cuerpos %}
		setupImage({{ forloop.counter|add:"-1" }}, {{ item.pk }}, '{{ item.imagen.url|safe }}', '{{ item.miniatura.url|safe }}', '{{ item.contextura|safe }} {{ item.etiqueta|safe }}', allBodies, setupColorChoices);
		{% endfor %}
		{% for item in facciones %}
		setupImage({{ forloop.counter|add:"-1" }}, {{ item.pk }}, '{{ item.imagen.url|safe }}', '{{ item.miniatura.url|safe }}', '{{ item.contextura|safe }} {{ item.etiqueta|safe }}', allFaces);
		{% endfor %}
		{% for item in camisas %}
		setupImage({{ forloop.counter|add:"-1" }}, {{ item.pk }}, '{{ item.imagen.url|safe }}', '{{ item.miniatura.url|safe }}', '{{ item.contextura|safe }} {{ item.etiqueta|safe }}', allShirts);
		{% endfor %}
		{% for item in pantalones %}
		setupImage({{ forloop.counter|add:"-1" }}, {{ item.pk }}, '{{ item.imagen.url|safe }}', '{{ item.miniatura.url|safe }}', '{{ item.contextura|safe }} {{ item.etiqueta|safe }}', allPants);
		{% endfor %}
		{% for item in ojos %}
		setupImage({{ forloop.counter|add:"-1" }}, {{ item.pk }}, '{{ item.imagen.url|safe }}', '{{ item.miniatura.url|safe }}', '{{ item.etiqueta|safe }}', allEyes, setupEyes);
		{% endfor %}
		{% for item in cejas %}
		setupImage({{ forloop.counter|add:"-1" }}, {{ item.pk }}, '{{ item.imagen.url|safe }}', '{{ item.miniatura.url|safe }}', '{{ item.etiqueta|safe }}', allEyeBrows, setupEyebrows);
		{% endfor %}
		{% for item in zapatos %}
		setupImage({{ forloop.counter|add:"-1" }}, {{ item.pk }}, '{{ item.imagen.url|safe }}', '{{ item.miniatura.url|safe }}', '{{ item.etiqueta|safe }}', allShoes, setupShoes);
		{% endfor %}
		{% for item in pelos %}
		setupImage({{ forloop.counter|add:"-1" }}, {{ item.pk }}, '{{ item.imagen.url|safe }}', '{{ item.miniatura.url|safe }}', '{{ item.etiqueta|safe }}', allHairStyles, setupHairStyles);
		{% endfor %}
		{% for item in cascos %}
		setupImage({{ forloop.counter|add:"-1" }}, {{ item.pk }}, '{{ item.imagen.url|safe }}', '{{ item.miniatura.url|safe }}', '{{ item.etiqueta|safe }}', allHelmets, setupHelmets);
		{% endfor %}
		{% for item in accesorios %}
		setupImage( {{ forloop.counter|add:"-1" }}, {{ item.pk }}, '{{ item.imagen.url|safe }}', '{{ item.miniatura.url|safe }}', '{{ item.contextura|safe }} {{ item.etiqueta|safe }}', allAccesories );
		{% endfor %}
		//dismiss wait dialog when all images are done loading
		loadingIntervalReference = window.setInterval( function(){
		if( closeWaitDialogIfAllThingsLoaded() ){
			window.clearInterval( loadingIntervalReference );
		}}, 1000);
	});
    /*
     ask for user confirmation before proceeding
     */
    function confirmSimulationStart(){
        $( '#dialog-confirm' ).dialog( 'open' );
        return false;
    }
    /*
     checks images to find out if the wait dialog is to be dismissed
     */
    function closeWaitDialogIfAllThingsLoaded(){
        var dismissDialog = true;
        var arraysToCheck = [ allBodies, allFaces, allShirts, allPants, allEyes, allEyeBrows, allShoes, allHairStyles, allHelmets ];
        var msgUpdate = [ "cuerpos...", "caras...", "camisas...", "pantalones...", "ojos...", "cejas...", "zapatos...", "cabelleras...", "cascos..." ];
        var i = 0;
        for(i = 0; i < arraysToCheck.length && dismissDialog; i++){
            dismissDialog = dismissDialog && checkAllImagesLoaded(arraysToCheck[i]);
        }
        if(dismissDialog){
            //pick default skin color
            $('#skin-choices a')[0].click();
            //dismiss wait dialog
            serempre.cargos.toggleWaitDialog();
        }else {
            //changeWaitDialogText('Descargando '+msgUpdate[i]);
        }
        return dismissDialog;
    }
    /*
     updates wait message dialog status
     @text: what to display on the wait dialog
     */
    function changeWaitDialogText(text){
        $('#dialog-wait span#msg-content').text(text);
    }
    /**
     builds an html image element
     @itemIndex: array index where image is to be stored at
     @imagePk: entity key for the image
     @imageURL: where to fetch image data from
     @imageAltText: what to display if image loading fails
     @imageArray: placeholder for the image object
     @onClickHandler: use function(event){ ... }. Use 'event.currentTarget' to get a handle to the object that triggered the event
     */
    function createImageItemContent( itemIndex, imagePk, imageURL, imageAltText, imageArray, onClickHandler ){
        var imgDomElement = $('<img src="'+ imageURL +'" alt="'+ imageAltText +'" arrayIndex="'+ itemIndex +'" pk="'+ imagePk +'"></img>');
        imgDomElement.click( {'index': itemIndex, 'pk': imagePk, 'imageAltText': imageAltText}, onClickHandler );
        return imgDomElement;
    }
    /*
     stores content within a div that uses classes scroll-contet-item and ui-widget-header
     @content: DOM element to be placed inside a scrollable slider
     */
    function wrapAsScrollableContentItem( content ){
        var container = $(' <li></li>');
        container.append(content);
        return container;
    }
    /*
     returns raw html for a scrollable pane
     @itemClickHandler: use function(event){ ... }. Use 'event.currentTarget' to get a handle to the object that triggered the event
     */
    function scrollPane( sourceArray, scrollablePaneId, itemClickHandler ){
        var scrollIcon = $('<span class="icono'+ scrollablePaneId +'"></span>');
        var scrollablePane = $('<div class="scroll-pane jThumbnailScroller ui-widget-header ui-corner-all body-part-picker-tab" id="'+ scrollablePaneId +'"></div>');
        var scrollContent = $('<ul class="jcarousel-skin-ie7"></ul>');
        for(var i = 0; i<sourceArray.length; i++){
            var item = sourceArray[i];
            var scrollableItem = createImageItemContent(i, item.pk, item.thumbnail, item.alt, sourceArray, itemClickHandler);
            scrollableItem = wrapAsScrollableContentItem(scrollableItem);
            scrollContent.append(scrollableItem);
        }
        scrollablePane.append(scrollContent);
        scrollablePane.id = scrollablePaneId;
        return scrollablePane;
    }
    /*
     removes a scrollPane from the document
     @scrollablePaneId: id for the scrollablePane to be removed from the document
     */
    function deleteScrollPane(scrollablePaneId){
        $('#'+scrollablePaneId).remove();
    }
    /**
     prepares an array of images for later use
     @itemIndex: array index where image is to be stored at
     @imagePk: entity key for the image
     @imageURL: where to fetch image data from
     @imageAltText: what to display if image loading fails
     @imageArray: placeholder for the image object
     @imageLoadedCallback: function that gets triggered upon image loaded event. The image object is passed as the first parameter to the function
     */
    function setupImage(itemIndex, imagePk, imageURL, thumbnailURL, imageAltText, imageArray, imageLoadedCallback, targetAttributeName){
        imageArray[ itemIndex ] = new Image();
        imageArray[ itemIndex ].loaded = false;
        imageArray[ itemIndex ].onload = function(){
            imageArray[ itemIndex ].loaded = true;
            if( imageLoadedCallback ){
                imageLoadedCallback( imageArray[ itemIndex ] );
            }
        };
        imageArray[ itemIndex ].src = imageURL;
        imageArray[ itemIndex ].alt = imageAltText;
        imageArray[ itemIndex ].pk = imagePk;
        imageArray[ itemIndex ].arrayIndex = itemIndex;
        imageArray[ itemIndex ].thumbnail = thumbnailURL;
        imageArray[ itemIndex ].fetchFrom = imageURL;
        imageArray[ itemIndex ].imageAltText = imageAltText;
        if( targetAttributeName ){
            imageArray[ itemIndex ].onclick = function(){
                avatar[ targetAttributeName ] = imageArray[ itemIndex ];
                //save selection
                current_selection[ targetAttributeName ] = imageArray[ itemIndex ].index;
                avatar.paint( context );
            };
        }
    }
    /*
     returns true if all images loaded within an array
     @imageArray: array of images to check. Note that images should have been built using 'setupImage' or at least have a loaded attribute
     */
    function checkAllImagesLoaded(imageArray){
        var allImagesLoaded = true;
        for(var i = 0; i<imageArray.length && allImagesLoaded; i++){
            allImagesLoaded = allImagesLoaded && imageArray[i].loaded;
        }
        return allImagesLoaded;
    }
    
    /**
     saves whatever raw strings are found within 'colors' as choices for #skin-choices
     @colors: an array of strings holding color names
     @colorChosenHandler: a function of the form function(colorName){ ... } where colorName is plain text
     */
    function populateColorChoices(colors, colorChosenHandler){
        for(var i = 0; i<colors.length;i++){
            var optionContainer = $('<div class="scroll-content-item"></div>');
            var colorOption = $('<a tabindex="-1" href="#" class="color-'+ colors[i] +'">'+ colors[i] +'</a>');
            colorOption.click(function(){
                              var face = current_selections.face ? current_selections.face : 0;
                              var body = current_selections.body ? current_selections.body : 0;
                              colorChosenHandler( $(this).text() );
                              $('#faces-slider').slider('value',face);
                              $('#body-slider').slider('value',body);
                              });
            optionContainer.append(colorOption);
            $('#skin-choices').append(optionContainer);
        }
    }
    /**
     reads the 'alt' attribute for each image in the imageArray. Saves unique values for color which is extracted using a regular expression. Returns an array of strings holding unique color names
     @imageArray: array of images where colors are to be extracted from
     */
    function getUniqueColorNamesFrom(imageArray){
        var color_regex = /[^\s]+(?=( ((hombre)|(mujer))))/gi;
        var availableColors = {};
        var counter = 0;
        colors = [];
        for(var i = 0; i < imageArray.length; i++){
            var color = imageArray[i].alt.match(color_regex)+'';
            availableColors[color] = color;
        }
        for(color in availableColors){
            colors[counter++] = color;
        }
        return colors;
    }
    /*
     turns a div into a slider using an array as the slider's data source
     @sliderId: domID for the div to be converted to a slider
     @sourceArray: elements over which the slider iterates
     @onSlide: handle to a function definition matching function(event,ui) { ... }
     @onChange: handle to a function definition matching function(event,ui) { ... }
     */
    function buildSimpleSlider(sliderId, sourceArray, onSlide, onChange){
        $('#'+sliderId).slider({
                               orientation: "horizontal",
                               range: "min",
                               max: sourceArray.length - 1,
                               value: 0,
                               step: 1,
                               slide: onSlide,
                               change: onChange,
                               });
    }
    /*
     Adds or replaces a scrollable slider using an image array and a simple slider to handle event callbacks
     @sourceArray: image array holding slider scrollable content
     @scrollableSliderId: id for the scrollable slider to be created or replaced
     @simpleSliderId: simple slider to which all events are forwarded
     @itemClickHandler: (OPTIONAL) event handler if a simple slider was not provided
     */
    function addOrReplaceScrollableSlider(sourceArray, scrollableSliderId, simpleSliderId, itemClickHandler){
        var newScrollableSlider = scrollPane(sourceArray, scrollableSliderId, itemClickHandler ? itemClickHandler : function(event){
                                             $('#'+simpleSliderId).slider('value', event.data.index);
                                             });
        var oldScrollableSlider = $('#'+scrollableSliderId);
        if(oldScrollableSlider.length){
            oldScrollableSlider.replaceWith(newScrollableSlider);
        }else{
            $('#scrollable-sliders').append(newScrollableSlider);
        }
        //refresh
        updateTabControls();
        //setupSliderScrollBar(scrollableSliderId);
        return newScrollableSlider;
    }
    /*
     updates tab headers and tab contents, based on available options
     */
    function updateTabControls(){
        //this method may fail if tab panel hasn't been initialized
        try{
            $('#scrollable-sliders').tabs('refresh');
        }catch(e){
            //console.log(e);
            //ignore error and continue
        }
    }
    /*
     when all bodies are done loading, setup color choices
     */
    function setupColorChoices(){
        if(checkAllImagesLoaded(allBodies)){
            var availableColors = getUniqueColorNamesFrom(allBodies);
            populateColorChoices(availableColors, function(colorName){
                                 $('#skin-color-tag').text(colorName+' ').append($('<span class="caret"></span>'));
                                 bodies = serempre.avatars.filterByColor(allBodies, colorName);
                                 faces = serempre.avatars.filterByColor(allFaces, colorName);
                                 buildSimpleSlider('body-slider',bodies,function(event,ui){ onBodySelection(ui.value); },function(event,ui){ onBodySelection(ui.value); });
                                 buildSimpleSlider('faces-slider',faces,function(event,ui){ onFaceSelection(ui.value); },function(event,ui){ onFaceSelection(ui.value); });
                                 addOrReplaceScrollableSlider(bodies, 'bodies-scrollable-slider', 'body-slider');
                                 addOrReplaceScrollableSlider(faces, 'faces-scrollable-slider', 'faces-slider');
                                 });
        }
    }
    /*
     when all eyes are done loading, build a slider to pick avatar eyes
     */
    function setupEyes(){
        if(checkAllImagesLoaded(allEyes)){
            buildSimpleSlider('eyes-slider', allEyes,function(event,ui){ sliderChanged(ui.value, allEyes, 'faceFeatures',1); },function(event,ui){ sliderChanged(ui.value, allEyes, 'faceFeatures',1); });
            addOrReplaceScrollableSlider(allEyes,'eyes-scrollable-slider', 'eyes-slider');
            $('#eyes-slider').slider('value',0);
        }
    }
    /*
     when all eyebrows are done loading, build a slider to pick avatar eyebrows
     */
    function setupEyebrows(){
        if(checkAllImagesLoaded(allEyeBrows)){
            buildSimpleSlider('eyebrows-slider', allEyeBrows, function(event,ui){ sliderChanged(ui.value, allEyeBrows, 'faceFeatures',2); },function(event,ui){ sliderChanged(ui.value, allEyeBrows, 'faceFeatures',2); });
            addOrReplaceScrollableSlider(allEyeBrows, 'eyebrows-scrollable-slider','eyebrows-slider');
            $('#eyebrows-slider').slider('value',0);
        }
    }
    /*
     builds a shoe slider when all shoe images become available
     */
    function setupShoes(){
        if(checkAllImagesLoaded(allShoes)){
            buildSimpleSlider('shoes-slider', allShoes, function(event,ui){ sliderChanged(ui.value, allShoes, 'shoes'); }, function(event,ui){ sliderChanged(ui.value, allShoes, 'shoes'); });
            addOrReplaceScrollableSlider(allShoes, 'shoes-scrollable-slider', 'shoes-slider');
            $('#shoes-slider').slider('value',0);
        }
    }
    /*
     builds a hairstyle slider when all hairstyles become available
     */
    function setupHairStyles(){
        if(checkAllImagesLoaded(allHairStyles)){
            buildSimpleSlider('hairStyles-slider', allHairStyles, function(event,ui){ sliderChanged(ui.value, allHairStyles, 'hair'); }, function(event,ui){ sliderChanged(ui.value, allHairStyles, 'hair'); });
            addOrReplaceScrollableSlider(allHairStyles, 'hairstyles-scrollable-slider', 'hairStyles-slider');
            $('#hairStyles-slider').slider('value',0);
        }
    }
    /*
     builds a slider to pick helmets once all assets are available
     */
    function setupHelmets(){
        if(checkAllImagesLoaded(allHelmets)){
            buildSimpleSlider('helmets-slider', allHelmets, function(event,ui){ sliderChanged(ui.value, allHelmets, 'helmet'); }, function(event,ui){ sliderChanged(ui.value, allHelmets, 'helmet'); });
            addOrReplaceScrollableSlider(allHelmets, 'helmets-scrollable-slider', 'helmets-slider');
            $('#helmets-slider').slider('value',0);
        }
    }
    /*
     updates avatar image using whatever is selected on a slider
     @newValue: slider value
     @imageArray: slider data source
     @targetAttributeName: attribute to be modified on the avatar
     @attributeIndexOrKey: if the property being set is an array or hash table, supply target index/key
     */
    function sliderChanged(newValue, imageArray, targetAttributeName, attributeIndexOrKey){
        if(!attributeIndexOrKey){
            current_selections[targetAttributeName] = newValue;
            avatar[targetAttributeName] = imageArray[current_selections[targetAttributeName]];
        }else{
            attributeIndexOrKey -= 1;
            current_selections[targetAttributeName+attributeIndexOrKey] = newValue;
            avatar[targetAttributeName][attributeIndexOrKey] = imageArray[current_selections[targetAttributeName+attributeIndexOrKey]];
        }
        avatar.paint(context);
    }
    /*
     handle body slider changes
     */
    function onBodySelection( arrayIndex ){
        var size_regex = /\d+(?=( [^\s]+ ((hombre)|(mujer))))/gi;
        var chosen_size = bodies[arrayIndex].alt.match(size_regex)+'';
        var chosen_shirt = current_selections.shirt ? current_selections.shirt : 0;
        var chosen_pants = current_selections.pants ? current_selections.pants : 0;
		var chosen_accesories = current_selections.misc ? current_selections.misc : 0;
        shirts = serempre.avatars.filterBySize( allShirts, chosen_size );
        pants  = serempre.avatars.filterBySize( allPants,  chosen_size );
		accesories = serempre.avatars.filterBySize( allAccesories, chosen_size );
        buildSimpleSlider('shirts-slider',shirts,function(event,ui){ sliderChanged(ui.value, shirts, 'shirt'); },function(event,ui){ sliderChanged(ui.value, shirts, 'shirt'); });
        buildSimpleSlider('pants-slider',pants,function(event,ui){ sliderChanged(ui.value, pants, 'pants'); },function(event,ui){ sliderChanged(ui.value, pants, 'pants'); });
        $('#shirts-slider').slider('value',chosen_shirt);
        $('#pants-slider').slider('value',chosen_pants);
        addOrReplaceScrollableSlider(shirts, 'shirts-scrollable-slider', 'shirts-slider');
        addOrReplaceScrollableSlider(pants, 'pants-scrollable-slider', 'pants-slider');
        sliderChanged(arrayIndex, bodies, 'body');
		prepareAccesories( );
    }
	/*
	builds an array with all available accesories
	*/
	function prepareAccesories(  ){
		try{
			var faceShape = getChosenFaceShape( );
			var bodySize = getChosenBodySize( );
			var allPossibleOptions = [ 
				filterFacialHair( 'Barba', faceShape )
				, filterFacialHair( 'Barba y Bigote', faceShape )
				, filterFacialHair( 'Bigote', faceShape )
				, getGafas( )
				, getCorbatas( )
				, getSacos( bodySize )
				, getBatas( bodySize ) ];
			accesories = [];
			for( var i = 0; i < allPossibleOptions.length; i++ ){
				if( allPossibleOptions[ i ] && allPossibleOptions[ i ].length > 0 ){
					allPossibleOptions[ i ] = prepareAccesoriesClickEvent( allPossibleOptions[ i ], i );
					accesories = accesories.concat( allPossibleOptions[ i ] );
				}
				avatar.misc[ i ] = null;
				current_selections[ 'misc' + i ] = -1;
			}
			avatar.paint( context );
		}catch(e){
			console.log( e );
		}
		onAccesoriesUpdated( );
		return accesories;
	}
	/*
	updates accesory listing
	*/
	function onAccesoriesUpdated( ){
		var scrollablePaneId = 'accesories-scrollable-slider';
		var sourceArray = accesories;
		var scrollIcon = $( '<span class="icono'+ scrollablePaneId +'"></span>' );
        var scrollablePane = $( '<div class="scroll-pane jThumbnailScroller ui-widget-header ui-corner-all body-part-picker-tab" id="'+ scrollablePaneId +'"></div>' );
        var scrollContent = $( '<ul class="jcarousel-skin-ie7"></ul>' );
		var oldScrollableSlider = $( '#'+scrollablePaneId );
		for( var i = 0; i < sourceArray.length; i++ ){
            var scrollableItem = $( sourceArray[ i ] );
            scrollableItem = wrapAsScrollableContentItem( scrollableItem );
            scrollContent.append( scrollableItem );
        }
        scrollablePane.append( scrollContent );
        scrollablePane.id = scrollablePaneId;
        if( oldScrollableSlider.length ){
            oldScrollableSlider.replaceWith( scrollablePane );
        }else{
            $( '#scrollable-sliders' ).append( scrollablePane );
        }
        //refresh
        
        updateTabControls();
        jQuery('#accesories-scrollable-slider > ul').jcarousel({
                                                               itemFallbackDimension: 40
                                                               });

		return scrollablePane;
	}
	/*
	assign a click event handler to the images in the array
	*/
	function prepareAccesoriesClickEvent( imageArray, miscIndex ){
		var thumbnails = [];
		for( var i = 0; i < imageArray.length; i++ ){
			thumbnails[ i ] = new Image();
			thumbnails[ i ].imageItem = imageArray[ i ];
			thumbnails[ i ].picked = false;
			thumbnails[ i ].miscIndex = miscIndex;
			thumbnails[ i ].src = imageArray[ i ].thumbnail;
			thumbnails[ i ].wholeCategory = thumbnails;
			thumbnails[ i ].onclick = function(){
				for( var j = 0; j < this.wholeCategory.length; j++ ){
					if( this.wholeCategory[ j ] == this ){
						continue;
					}
					this.wholeCategory[ j ].picked = false;
				}
				if( !this.picked ){
					this.picked = true;
					avatar.misc[ this.miscIndex ] = this.imageItem;
					current_selections[ 'misc' + this.miscIndex ] = this.imageItem.arrayIndex;
				}else {
					this.picked = false;
					avatar.misc[ this.miscIndex ] = null;
					current_selections[ 'misc' + this.miscIndex ] = -1;
				}
				avatar.paint( context );
			};
		}
		return thumbnails;
	}
    /*
     handle face slider changes
     */
    function onFaceSelection( arrayIndex ){
        sliderChanged( arrayIndex, faces, 'face' );
		prepareAccesories( );
    }		
    /*
	filters beards, mustaches, beards and mustaches
	*/
	function filterFacialHair( partName, faceShape, hairColor ){
		var regex = null;
		if( !faceShape ){
			regex = new RegExp( '(\\d+)(\\s)(' + partName + '\\s)(\\w{2,})((\\s\\w+)*)', 'i', 'g' );
		}else if( faceShape != null && faceShape != '' && !hairColor ){
			regex = new RegExp( '(\\d+)(\\s)(' + partName + '\\s)(' + faceShape + ')((\\s\\w+)*)', 'i', 'g' );
		}else if( faceShape && hairColor ){
			regex = new RegExp( '(\\d+)(\\s)(' + partName + '\\s)(' + faceShape + ')(\\s)(' + hairColor + ')((\\s\\w+)*)', 'i', 'g' );
		}
		return allAccesories.filter( function( element ) { 
			return element.alt.match( regex );
		} );
	}
	/*
	fetches faceshape from chosen face
	*/
	function getChosenFaceShape( ){
		var regex = new RegExp( '(\\w+)(\\s)(\\w+)', 'i', 'g' );
		return faces[ current_selections.face ].alt.match( regex )[ 1 ];
	}
	/*
	fetches body size from chosen body
	*/
	function getChosenBodySize( ){
		var regex = new RegExp( '(\\d+)(\\s\\w+)*', 'i', 'g' );
		return bodies[ current_selections.body ].alt.match( regex )[ 1 ]; 
	}
	/*
	fetches all robes
	*/
	function getBatas( bodySize ){
		var regex = new RegExp( '(\\d+)(\\s)(Bata)(\\s)(Hombre|Mujer)' , 'i', 'g' );
		return allAccesories.filter( function( element ){
			var matches = element.alt.match( regex );
			if( matches && matches.length > 0 ){
				return matches[ 1 ] == bodySize;
			}
		} );
	}
	/*
	fetches all coats
	*/
	function getSacos( bodySize ){
		var regex = new RegExp( '(\\d+)(\\s)(Saco)(\\s)(Hombre|Mujer)', 'i', 'g' );
		return allAccesories.filter( function( element ){
			var matches = element.alt.match( regex );
			if( matches && matches.length > 0 ){
				return matches[ 1 ] == bodySize;
			}
		} );
	}
	/*
	fetches all glasses
	*/
	function getGafas( ){
		return allAccesories.filter( function( element ){
			return element.alt.match( /(Gafas)(\s)(\w+)(\s)(Hombre|Mujer)/ig );
		} );
	}
	/*
	fetches all ties
	*/
	function getCorbatas( ){
		return allAccesories.filter( function( element ){
			return element.alt.match( /(Corbata)(\s)(\w+)(\s)(Hombre|Mujer)/ig );
		} );
	}
</script>


<!--
 //this turns an input field into a remote data sourced autocomplete
 $('#cargo_inicial_nombre').autocomplete({
 source: function(request, response){
 console.log("{% url 'get-cargos' %}" + request.term + "/");
 $.ajax({
 url: "{% url 'get-cargos' %}" + request.term
 , dataType: "json"
 , data: {
 //don't send any data to the service
 }, success: function(data, textStatus, jqXHR){
 response( $.map( data, function( item ) {
 return {
 label: item.fields.nombre,
 value: item.pk
 }
 }));
 }, complete: function(jqXHR, textStatus){
 //done requesting data
 }, error: function(jqXHR, textStatus, errorThrown){
 alert(textStatus);
 }
 });
 }, minLength: 2,
 select: function(event, ui){
 if(ui.item){
 console.log(ui.item.value);
 $('#cargo_inicial_nombre').val(ui.item.label);
 $('#cargo_inicial').val(ui.item.value);
 return false;
 }
 }, open: function(){
 $(this).removeClass('ui-corner-all').addClass('ui-corner-top');
 }, close: function(){
 $(this).removeClass('ui-corner-top').addClass('ui-corner-all');
 }
 }).data("autocomplete")._renderItem = function( ul, item ){
 return $( "<li>" )
 .data( "item.autocomplete", item )
 .append( "<a>" + item.label + "<br>" + item.value + "</a>" )
 .appendTo( ul );
 }
 -->
<script>
    window.onload=function(){
        
        $("#eyebrows-scrollable-slider").before('<span class="iconoeyebrows-scrollable-slider"></span>');
        $("#eyes-scrollable-slider").before('<span class="iconoeyes-scrollable-slider"></span>');
        $("#shoes-scrollable-slider").before('<span class="iconoshoes-scrollable-slider"></span>');
        $("#helmets-scrollable-slider").before('<span class="iconohelmets-scrollable-slider"></span>');
       
        $("#scrollable-sliders #body-slider").before('<span class="iconobodies-scrollable-slider"></span>');
        $("#faces-scrollable-slider").before('<span class="iconofaces-scrollable-slider"></span>');
        $("#shirts-scrollable-slider").before('<span class="iconoshirts-scrollable-slider"></span>');
        $("#pants-scrollable-slider").before('<span class="iconopants-scrollable-slider"></span>');
        $("#skin-choices").before('<span class="iconocolor"></span>');
        $("#hairstyles-scrollable-slider").before('<span class="iconohairstyles-scrollable-slider"></span>');
        $("#accesories-scrollable-slider").before('<span class="iconoaccesories-scrollable-slider"></span>');
        jQuery('#accesories-scrollable-slider > ul').jcarousel({
                                                               itemFallbackDimension: 40
                                                               });
        jQuery('#hairstyles-scrollable-slider > ul').jcarousel({
                                                               itemFallbackDimension: 40
                                                               });
        
    }
 
</script>
{% endblock %}
{% comment %}
See built in thempalte tags and filters at:
https://docs.djangoproject.com/en/dev/ref/templates/builtins/?from=olddocs

See basic template syntax at:
https://docs.djangoproject.com/en/dev/ref/templates/api/

https://docs.djangoproject.com/en/1.4/topics/templates/
{% endcomment %}
