{% extends "ladder/base.html" %}

{% load static from staticfiles %}

{% block pagetitle %}Space Invaders{% endblock %}

{% block includestylesheet %}
		{{ block.super }}
{% endblock %}

{% block includejavascript %}
		
{% endblock %}

{% block pagestyle %}

{% endblock %}

{% block pageheader %}

{% endblock %}

{% block pagebody %}
	<canvas id="game" width="600" height="400">
		get a better browser!
	</canvas>
{% endblock %}

{% block pagefooter %}
	<script src="{% static "ladder/javascript/space_invaders.js" %}" language="javascript" type="text/javascript"></script>
{% endblock %}
