{% extends "ladder/base.html" %}
{% comment %} This defines comments within a template {% endcomment %}
{% comment %} OF SEARING IMPORTANCE: the 'extends' tag should be the first to appear
in order for template inheritance to work! {% endcomment %}
{% comment %} The following loads the 'static' tag, so that it can be used to load
static file assets {% endcomment %}
{% load static from staticfiles %}

{% block pagetitle %}Space Invaders{% endblock %}

{% block includestylesheet %}
{% comment %} 
	The following tag outputs original text from the parent template
	so that the parent's content for this section isn't completely overridden
	
	In this case, CSS from the master form template will be added to this page's
	html-head
{% endcomment %}
		{{ block.super }}
{% endblock %}

{% block includejavascript %}
{% comment %} 
	The following tag outputs original text from the parent template
	so that the parent's content for this section isn't completely overridden 
	
	In this case, javascript from the master template will be added to this page's
	html-head
{% endcomment %}
		{{ block.super }}
{% endblock %}

{% block pagestyle %}

{% endblock %}

{% block pageheader %}
	<h1>Rutas de carrera</h1>
{% endblock %}

{% block pagebody %}
	
{% endblock %}

{% block pagefooter %}

{% endblock %}
