{% extends "ladder/base.html" %}
{% load url from future %}
{% load static from staticfiles %}

{% load static from staticfiles %}

{% block pagetitle %}Crea tu avatar{% endblock %}

{% block includestylesheet %}
		{{ block.super }}
{% endblock %}

{% block includejavascript %}
		{{ block.super }}
		<script src="{% static "ladder/javascript/scrollableslider.js" %}" language="javascript" type="text/javascript"></script>
{% endblock %}

{% block pagestyle %}
	/*
	DIV element that contains all available future position options
	*/
	div#next-steps {
	
	}
	/*
	DIV elements containing an available option for the player's next position
	*/
	div.next-position {
	
	}
	/*
	DIV elements containing a single 'requisito' for a given position
	*/
	div.requisito-container {
	
	}
	/*
	DIV elements that hold a SPAN and clear text representing a requirement
	*/
	div.requirement-item {
		height: 50px;
		overflow: hidden;
	}
	/*
	holds the icon that stands for requirement categories
	*/
	span.requirement-category-icon {
		width: 39px;
		height: 39px;
		background-repeat: no-repeat;
		display: block;
		overflow: hidden;
		text-indent: -99999px;
		float: left;
		margin: 0 7px 20px 0;
	}
{% for item in categorias %}
	/*
	icon for {{ item.nombre }}
	*/
	span.category_{{ item.pk }}{
{% if item.icono %}
		background-image:url('{{ item.icono.url|safe }}');
{% endif %}
	}
{% endfor %}
{% endblock %}

{% block pageheader %}
	<h1>Planea tu ascenso</h1>
{% endblock %}

{% block pagebody %}
	<canvas id='canvas' width='430' height='600'>
		Your browser doesn't support HTML 5. Please upgrade to a more current browser.
	</canvas>
	<div id="next-steps"></div>
{% endblock %}

{% block pagefooter %}
	<script>
		var currentCargo = null;
		var destinationCargo = null;
		var avatar = null;
		var canvas = null;
		var context = null;
		var path = null;
		//when document completes loading, execute the following code
		$(document).ready( function ( ) {
			//if there is no data about the origin and destination cargos, then redirect the user to the home page
			serempre.cargos.futurePaths = sessionStorage.futurePaths;
			if( !serempre.cargos.futurePaths ){
				window.location.href = '/';
			}
			//get ready to use wait dialogs in this page
			serempre.cargos.setupWaitDialog( );
			//ask the user to wait
			serempre.cargos.toggleWaitDialog( 'Cargando imágenes', 'icon-signal' );
			//load simulation offset data
			loadSimulationData();
			markFormerPositions();
			//initialize avatar
			avatar = new serempre.avatars.Avatar( );
			avatar.restoreFromRawData( JSON.parse( sessionStorage.avatar ) );
			//initialize canvas and drawing area
			canvas = document.getElementById( 'canvas' );
			context = canvas.getContext( '2d' );
			serempre.cargos.toggleWaitDialog( );
			//display available choices
			displayAvailableChoices( currentCargo );
			//start drawing
			window.setInterval(function(){
				avatar.paint(context);
			} ,1000 );
		});
		/*  
		displays requirements for a given position
		*/
		function displayRequirementsFor( position, jqPositionDOMContainer ){
			var allRequirements = getDisplayForPositionRequirements( position, function( requirement, containerCollection ){
				container = getContainerForRequirement( requirement, containerCollection );
				if( container ){
					container.append( buildDisplayForRequirement( requirement ) );
				}
			} );
			for( var i = 0; i < allRequirements.length; i++ ){
				if( jqPositionDOMContainer ) { 
					jqPositionDOMContainer.append( allRequirements[ i ] ); 
				}
			}
			return allRequirements;
		}
		/*
		builds a URL where a requisito can be looked up using it's entity key
		*/
		function getRequisitoURLUsing( pk ){
			var templateURL = "{% url 'get-requisito-by-pk' 0 %}";
			var regex = /(requisito)\/(\d+)\/$/ig;
			return templateURL.replace( regex, "$1/" + pk + "/" );
		}
		/*
		builds an HTML representation for a given requirement
		*/
		function buildDisplayForRequirement( requirement ) {
			return $( '<div class="requirement-item"><span class="requirement-category-icon category_' + requirement.fields.categoria + '"></span>' + requirement.fields.nombre + '</div>' );
		}
		/*
		gets the HTML object that is to contain a given requirement
		*/
		function getContainerForRequirement( requirement, containers ){
			var target = containers.filter( function ( x ) {
				return $( x ).attr('id') == 'requisito-' + requirement.pk + '-container';
			} );
			if(target && target[0]) {
				target = target[ 0 ];
			}else {
				return null;
			}
			return target;
		}
		/*
		returns an array of HTML div objects where each item holds a requisito description
		*/
		function getDisplayForPositionRequirements( position, requirementAvailableCallback ){
			var results = [];
			for( var i = 0; i < position.fields.requisitos.length; i++ ){
				results[ i ] = $('<div id="requisito-' + position.fields.requisitos[ i ] +'-container" class="requisito-container"></div>');
				$.ajax({
					dataType: 'json'
					, url: getRequisitoURLUsing( position.fields.requisitos[ i ] )
					, success: function( data, textStatus, jqXHR ){
						requirementAvailableCallback( data[0], results );
					}, error: function( jqXHR, textStatus, errorThrown ){
						console.log( errorThrown );
						alert( textStatus );
					}, complete: function( jqXHR, textStatus ){
						
					}
				});
			}
			return results;
		}
		/*
		display available choices starting at current position
		*/
		function displayAvailableChoices( position ){
			for( var i = 0; i < position.fields.siguientes.length; i++ ){
				var nextPosition = serempre.cargos.futurePaths[ position.fields.siguientes[ i ] ];
				var nextPositionDiv = $( '<div id="position-' + nextPosition.pk + '" class="next-position">' + nextPosition.fields.nombre + '</div>' );
				$( '#next-steps' ).append( nextPositionDiv );
				displayRequirementsFor( nextPosition, nextPositionDiv );
			}
		}
		/*
		mark former positions as 'visited'
		*/
		function markFormerPositions(){
			//mark current cargo as visited
			currentCargo.visited = true;
			//rebuild ladder breadcrums
			if( !sessionStorage.path || sessionStorage.path == '' ){
				sessionStorage.path = '[]';
			}
			path = JSON.parse( sessionStorage.path );
			//mark former positions as visited
			for( var i = 0; i < path.length; i++ ){
				serempre.cargos.futurePaths[ path[ i ] ].visited = true;
			}
		}
		/*
		load data needed to start the simulation
		*/
		function loadSimulationData(){
			//load graph data
			serempre.cargos.futurePaths = JSON.parse( sessionStorage.futurePaths );
			//load destinations
			serempre.cargos.destinations = JSON.parse( sessionStorage.destinations );
			//load current cargo
			serempre.cargos.currentCargo = JSON.parse( sessionStorage.currentCargo );
			//load current cargo object
			currentCargo = serempre.cargos.futurePaths[ serempre.cargos.currentCargo ]
			//load destination cargo
			destinationCargo = serempre.cargos.futurePaths[ sessionStorage.targetCargo ];
		}
		/*
		updates wait message dialog status
		@text: what to display on the wait dialog
		*/
		function changeWaitDialogText( text ){
			$( '#dialog-wait span#msg-content' ).text( text );
		}
		
	</script>
	<!--
			//this turns an input field into a remote data sourced autocomplete
			$('#cargo_inicial_nombre').autocomplete({
				source: function(request, response){
					console.log("{% url 'get-cargos' %}" + request.term + "/");
					$.ajax({
						url: "{% url 'get-cargos' %}" + request.term
						, dataType: "json"
						, data: {
							//don't send any data to the service
						}, success: function(data, textStatus, jqXHR){
							response( $.map( data, function( item ) {
								return {
									label: item.fields.nombre,
									value: item.pk
								}
							}));
						}, complete: function(jqXHR, textStatus){
							//done requesting data
						}, error: function(jqXHR, textStatus, errorThrown){
							alert(textStatus);
						}
					});
				}, minLength: 2,
				select: function(event, ui){
					if(ui.item){
						console.log(ui.item.value);
						$('#cargo_inicial_nombre').val(ui.item.label);
						$('#cargo_inicial').val(ui.item.value);
						return false;
					}
				}, open: function(){
					$(this).removeClass('ui-corner-all').addClass('ui-corner-top');
				}, close: function(){
					$(this).removeClass('ui-corner-top').addClass('ui-corner-all');
				}
			}).data("autocomplete")._renderItem = function( ul, item ){
				return $( "<li>" )
                .data( "item.autocomplete", item )
                .append( "<a>" + item.label + "<br>" + item.value + "</a>" )
                .appendTo( ul );
			}
	-->
{% endblock %}
{% comment %}
	See built in thempalte tags and filters at:
	https://docs.djangoproject.com/en/dev/ref/templates/builtins/?from=olddocs
	
	See basic template syntax at:
	https://docs.djangoproject.com/en/dev/ref/templates/api/
	
	https://docs.djangoproject.com/en/1.4/topics/templates/
{% endcomment %}
