{% extends "ladder/base.html" %}
{% load url from future %}
{% load static from staticfiles %}

{% load static from staticfiles %}

{% block pagetitle %}Crea tu avatar{% endblock %}

{% block includestylesheet %}
		{{ block.super }}
{% endblock %}

{% block includejavascript %}
		{{ block.super }}
		<script src="{% static "ladder/javascript/scrollableslider.js" %}" language="javascript" type="text/javascript"></script>
{% endblock %}

{% block pagestyle %}
	/*
	DIV element that contains all available future position options
	*/
	div#next-steps {
	
	}
	/*
	DIV elements containing an available option for the player's next position
	*/
	div.next-position {
	
	}
	/*
	DIV elements containing a single 'requisito' for a given position
	*/
	div.requisito-container {
	
	}
	/*
	DIV elements that hold a SPAN and clear text representing a requirement
	*/
	div.requirement-item {
		height: 75px;
		overflow: hidden;
	}
	/*
	DIV elements that hold a SPAN and clear text representing a requirement that's been fulfilled
	*/
	div.requirement-item-fulfilled {
		
	}
	/*
	this link lets a worker occupy a different position
	*/
	a.next-step {
		margin: 5px 7px 5px 20px;
	}
	/*
	displays a position in the breadcrums
	*/
	div.cargo-summary {
	
	}
	/*
	holds the icon that stands for requirement categories
	*/
	span.requirement-category-icon {
		width: 39px;
		height: 39px;
		background-repeat: no-repeat;
		display: block;
		overflow: hidden;
		text-indent: -99999px;
		float: left;
		margin: 5px 7px 20px 0;
	}
{% for item in categorias %}
	/*
	icon for {{ item.nombre }}
	*/
	span.category_{{ item.pk }}{
{% if item.icono %}
		background-image:url('{{ item.icono.url|safe }}');
{% endif %}
	}
{% endfor %}
{% endblock %}

{% block pageheader %}
	<h1>Planea tu ascenso</h1>
{% endblock %}

{% block pagebody %}
	<canvas id='canvas' width='430' height='600'>
		Your browser doesn't support HTML 5. Please upgrade to a more current browser.
	</canvas>
	<div id="next-steps"></div>
	<div id="breadcrums"></div>
{% endblock %}

{% block pagefooter %}
	<script>
		var currentCargo = null;
		var destinationCargo = null;
		var avatar = null;
		var canvas = null;
		var context = null;
		var path = null;
		var requirements = {};
		var fulfilledRequirements = [];
		//when document completes loading, execute the following code
		$(document).ready( function ( ) {
			//if there is no data about the origin and destination cargos, then redirect the user to the home page
			serempre.cargos.futurePaths = sessionStorage.futurePaths;
			if( !serempre.cargos.futurePaths ){
				window.location.href = '/';
			}
			//get ready to use wait dialogs in this page
			serempre.cargos.setupWaitDialog( );
			//ask the user to wait
			serempre.cargos.toggleWaitDialog( 'Cargando imágenes', 'icon-signal' );
			//load simulation offset data
			loadSimulationData();
			//initialize avatar
			avatar = new serempre.avatars.Avatar( );
			avatar.restoreFromRawData( JSON.parse( sessionStorage.avatar ) );
			//initialize canvas and drawing area
			canvas = document.getElementById( 'canvas' );
			context = canvas.getContext( '2d' );
			serempre.cargos.toggleWaitDialog( );
			pushPosition( currentCargo.pk );
			//start drawing
			window.setInterval(function(){
				avatar.paint(context);
			} ,1000 );
		});
		/*
		builds an array holding only those requirements that have been fulfilled so far
		*/
		function updateFulfilledRequirements() {
			var all = [];
			var counter = 0;
			for( a in requirements ){
				all[ counter++ ] = requirements[ a ]
			}
			fulfilledRequirements = all.filter( function ( o ) { return o.fulfilled } );
			return fulfilledRequirements;
		}
		/*
		marks a requirement as fulfilled if it belongs to the player's position
		*/
		function checkForCompliance( requirement ){
			for( var i = 0; i < currentCargo.fields.requisitos.length && !requirement.fulfilled; i++ ){
				if( currentCargo.fields.requisitos[ i ] == requirement.pk ){
					requirement.fulfilled = true;
					requirement.fulfilledAt = currentCargo;
				}
			}
			for( var i = 0; i < fulfilledRequirements.length && !requirement.fulfilled; i++ ){
				requirement.fulfilled = requirement.fulfilled || ( fulfilledRequirements[ i ].pk == requirement.pk );
			}
			return requirement.fulfilled;
		}
		/*
		store a requirement. Then append it's graphical representation to the provided container
		*/
		function onRequirementDownloaded ( requirement, containerCollection ){
			if( !requirements[ requirement.pk ] ){
				requirements[ requirement.pk ] = requirement;
			}
			requirement = requirements[ requirement.pk ];
			checkForCompliance( requirement );
			container = getContainerForRequirement( requirement, containerCollection );
			if( container ){
				container.append( buildDisplayForRequirement( requirement ) );
			}
		}
		/*  
		displays requirements for a given position
		*/
		function displayRequirementsFor( position, jqPositionDOMContainer ){
			updateFulfilledRequirements();
			var allRequirements = getDisplayForPositionRequirements( position, onRequirementDownloaded );
			for( var i = 0; i < allRequirements.length; i++ ){
				if( jqPositionDOMContainer ) { 
					jqPositionDOMContainer.append( allRequirements[ i ] ); 
				}
			}
			return allRequirements;
		}
		/*
		builds a URL where a requisito can be looked up using it's entity key
		*/
		function getRequisitoURLUsing( pk ){
			var templateURL = "{% url 'get-requisito-by-pk' 0 %}";
			var regex = /(requisito)\/(\d+)\/$/ig;
			return templateURL.replace( regex, "$1/" + pk + "/" );
		}
		/*
		marks a requirement as fulfilled
		*/
		function setRequirementFulfilled( requirementPK ){
			$( 'div#modal' + requirementPK ).parent().addClass( 'requirement-item-fulfilled' );
			requirements[ requirementPK ].fulfilled = true;
			updatePositionElligibility();
		}
		/*
		marks a requirement as unfulfilled
		*/
		function setUnfulfilledRequirement( requirementPK ){
			$( 'div#modal' + requirementPK ).parent().removeClass( 'requirement-item-fulfilled' );
			requirements[ requirementPK ].fulfilled = false;
			updatePositionElligibility();
		}
		/*
		builds an HTML representation for a given requirement
		*/
		function buildDisplayForRequirement( requirement ) {
			var requirementBlock =		$( '<div class="requirement-item' + ( requirement.fulfilled ? ' requirement-item-fulfilled' : '' ) + '">'
												+ '<a href="#modal' + requirement.pk + '" role="button" class="btn" data-toggle="modal">'
													+'<span class="requirement-category-icon category_' + requirement.fields.categoria + '"></span>'
													+ requirement.fields.nombre
												+ '</a>'
												+'<div id="modal' + requirement.pk + '" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">'
													+'<div class="modal-header">'
														+'<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>'
														+'<h3>' + requirement.fields.nombre + '</h3>'
													+'</div>'
													+'<div class="modal-body">'
														+'<p>'
															+ requirement.fields.descripcion
														+'</p>'
													+'</div>'
													+'<div class="modal-footer">'
														+'<div class="btn-group" data-toggle="buttons-radio">'
															+'<button type="button" class="btn' + ( requirement.fulfilled ? ' active' : '' ) + '" data-dismiss="modal" onclick="javascript: setRequirementFulfilled( ' + requirement.pk + ' );">Ok</button>'
															+'<button type="button" class="btn' + ( requirement.fulfilled ? '' : ' active' ) + '" data-dismiss="modal" onclick="javascript: setUnfulfilledRequirement( ' + requirement.pk + ' )">Pendiente</button>'
														+'</div>'
													+'</div>'
												+'</div>'
										+ '</div>' );
			return requirementBlock;
		}
		/*
		gets the HTML object that is to contain a given requirement
		*/
		function getContainerForRequirement( requirement, containers ){
			var target = containers.filter( function ( x ) {
				return $( x ).attr('id') == 'requisito-' + requirement.pk + '-container';
			} );
			if(target && target[0]) {
				target = target[ 0 ];
			}else {
				return null;
			}
			return target;
		}
		/*
		returns an array of HTML div objects where each item holds a requisito description
		*/
		function getDisplayForPositionRequirements( position, requirementAvailableCallback ){
			var results = [];
			for( var i = 0; i < position.fields.requisitos.length; i++ ){
				results[ i ] = $( '<div id="requisito-' + position.fields.requisitos[ i ] +'-container" class="requisito-container"></div>' );
				$.ajax({
					dataType: 'json'
					, url: getRequisitoURLUsing( position.fields.requisitos[ i ] )
					, success: function( data, textStatus, jqXHR ){
						requirementAvailableCallback( data[0], results );
					}, error: function( jqXHR, textStatus, errorThrown ){
						console.log( errorThrown );
						alert( textStatus );
					}, complete: function( jqXHR, textStatus ){
						
					}
				});
			}
			return results;
		}
		/*
		display available choices starting at current position
		*/
		function displayAvailableChoices( position ){
			for( var i = 0; i < position.fields.siguientes.length; i++ ){
				var nextPosition = serempre.cargos.futurePaths[ position.fields.siguientes[ i ] ];
				var nextPositionDiv = null;
				if( nextPosition.visited ){
					continue;
				}
				nextPositionDiv = buildFullPositionDisplay( nextPosition );
				$( '#next-steps' ).append( nextPositionDiv );
				displayRequirementsFor( nextPosition, nextPositionDiv );
			}
		}
		/*
		mark former positions as 'visited'
		*/
		function markFormerPositions(){
			//mark current cargo as visited
			currentCargo.visited = true;
			//rebuild ladder breadcrums
			if( !sessionStorage.path || sessionStorage.path == '' ){
				sessionStorage.path = '[]';
			}
			path = JSON.parse( sessionStorage.path );
			//mark former positions as visited
			for( var i = 0; i < path.length; i++ ){
				serempre.cargos.futurePaths[ path[ i ] ].visited = true;
			}
		}
		/*
		load data needed to start the simulation
		*/
		function loadSimulationData(){
			//load graph data
			serempre.cargos.futurePaths = JSON.parse( sessionStorage.futurePaths );
			//load destinations
			serempre.cargos.destinations = JSON.parse( sessionStorage.destinations );
			//load current cargo
			serempre.cargos.currentCargo = JSON.parse( sessionStorage.currentCargo );
			//load current cargo object
			currentCargo = serempre.cargos.futurePaths[ serempre.cargos.currentCargo ]
			//load destination cargo
			destinationCargo = serempre.cargos.futurePaths[ sessionStorage.targetCargo ];
		}
		/*
		updates wait message dialog status
		@text: what to display on the wait dialog
		*/
		function changeWaitDialogText( text ){
			$( '#dialog-wait span#msg-content' ).text( text );
		}
		/*
		builds a summary display for a given position. Use this when displaying breadcrums about the player's carreer
		*/
		function buildPositionSummaryDisplay( positionPK ){
			return  $( '<div class="cargo-summary">' + serempre.cargos.futurePaths[ positionPK ].fields.nombre + '</div>' );
		}
		/*
		builds an HTML view of the given position
		*/
		function buildFullPositionDisplay( position ){
			return $( 
				 '<div id="position-' + position.pk + '" class="next-position">' 
					+ position.fields.nombre 
					+'<a href="javascript: pushPosition( ' + position.pk + ' )" id="next-step-' + position.pk + '" style=" visibility : hidden;" class="next-step">'
						+'Ocupar este cargo'
					+'</a>'
				+'</div>' );
		}
		/*
		append a position to the player's carreer
		*/
		function pushPosition( positionPK ){
			displayAvailableChoices( currentCargo );
			displayRequirementsFor( currentCargo, null );
			markFormerPositions();
			$( '#breadcrums' ).append( buildPositionSummaryDisplay( positionPK ) );
			if( !path.filter( function( pk ){ return pk == positionPK; } ) ){
				path[ path.length ] = positionPK;
			}
			sessionStorage.path = JSON.stringify( path );
		}
		/*
		true if all requirements for a position are fulfilled
		*/
		function allRequirementsMetFor( position ){
			var allMet = true;
			for( var i = 0; i < position.fields.requisitos.length && allMet; i++ ){
				allMet = allMet && checkForCompliance( requirements[ position.fields.requisitos[ i ] ] );
			}
			return allMet;
		}
		/*
		shows or hides a link to advance to a position in the job ladder
		*/
		function updatePositionElligibility(){
			for( var i = 0; i < currentCargo.fields.siguientes.length; i++){
				var nextStepLink = $( '#next-step-' + currentCargo.fields.siguientes[ i ] );
				if( allRequirementsMetFor( serempre.cargos.futurePaths[ currentCargo.fields.siguientes[ i ] ] ) ){
					nextStepLink.css('visibility','visible');
				}else {
					nextStepLink.css('visibility','hidden');
				}
			}
		}
		
	</script>
	<!--
			//this turns an input field into a remote data sourced autocomplete
			$('#cargo_inicial_nombre').autocomplete({
				source: function(request, response){
					console.log("{% url 'get-cargos' %}" + request.term + "/");
					$.ajax({
						url: "{% url 'get-cargos' %}" + request.term
						, dataType: "json"
						, data: {
							//don't send any data to the service
						}, success: function(data, textStatus, jqXHR){
							response( $.map( data, function( item ) {
								return {
									label: item.fields.nombre,
									value: item.pk
								}
							}));
						}, complete: function(jqXHR, textStatus){
							//done requesting data
						}, error: function(jqXHR, textStatus, errorThrown){
							alert(textStatus);
						}
					});
				}, minLength: 2,
				select: function(event, ui){
					if(ui.item){
						console.log(ui.item.value);
						$('#cargo_inicial_nombre').val(ui.item.label);
						$('#cargo_inicial').val(ui.item.value);
						return false;
					}
				}, open: function(){
					$(this).removeClass('ui-corner-all').addClass('ui-corner-top');
				}, close: function(){
					$(this).removeClass('ui-corner-top').addClass('ui-corner-all');
				}
			}).data("autocomplete")._renderItem = function( ul, item ){
				return $( "<li>" )
                .data( "item.autocomplete", item )
                .append( "<a>" + item.label + "<br>" + item.value + "</a>" )
                .appendTo( ul );
			}
	-->
{% endblock %}
{% comment %}
	See built in thempalte tags and filters at:
	https://docs.djangoproject.com/en/dev/ref/templates/builtins/?from=olddocs
	
	See basic template syntax at:
	https://docs.djangoproject.com/en/dev/ref/templates/api/
	
	https://docs.djangoproject.com/en/1.4/topics/templates/
{% endcomment %}
