{% extends "ladder/base.html" %}
{% load url from future %}
{% load static from staticfiles %}

{% load static from staticfiles %}

{% block pagetitle %}¿No encuentras tu cargo?{% endblock %}

{% block includestylesheet %}
		{{ block.super }}

{% endblock %}

{% block includejavascript %}
		{{ block.super }}
{% endblock %}

{% block pagestyle %}
body{
height:70%;
}
#main{
background:url({% static "ladder/images/imagenes/bg_silouette-404.png" %}) no-repeat right 0px;
height:100%;
}

.col1{
padding-top:50px;
}
h3{
color:#025084;
}
h4 span{
color:#990033;
font-size:1.5em;
}
div img{
float:left;
}
.rutas{
width:80%;
margin:0 auto;
}
.rutas p{
color:#025084;
padding:90px;
font-size:1.2em;
position:relative;
}
{% endblock %}

{% block pageheader %}
<div>
	<h1>Rutas de carrera</h1>
</div>
{% endblock %}

{% block pagebody %}
<div class="rutas">
<img src="{% static "ladder/images/imagenes/avatares-404.png" %}" alt="No encuentras tu cargo" />

    <p>En este momento nos encontramos trabajando para ofrecerte diferentes opciones de crecimiento dentro de la organización.
    <br><br>
    Pronto encontrarás más cargos y rutas para realizar tu simulación.</p>
    <br><br>
<span class="boton"><a href="{% url 'start' %}">Volver</a></span>
</div>

{% endblock %}

{% block pagefooter %}

	<!-- 
			//this turns an input field into a remote data sourced autocomplete
			$('#cargo_inicial_nombre').autocomplete({
				source: function(request, response){
if( DEBUG ) console.log("{% url 'get-cargos' %}" + request.term + "/");
					$.ajax({
						url: "{% url 'get-cargos' %}" + request.term
						, dataType: "json"
						, data: {
							//don't send any data to the service
						}, success: function(data, textStatus, jqXHR){
							response( $.map( data, function( item ) {
								return {
									label: item.fields.nombre,
									value: item.pk
								}
							}));
						}, complete: function(jqXHR, textStatus){
							//done requesting data
						}, error: function(jqXHR, textStatus, errorThrown){
							alert(textStatus);
						}
					});
				}, minLength: 2,
				select: function(event, ui){
					if(ui.item){
if( DEBUG ) console.log(ui.item.value);
						$('#cargo_inicial_nombre').val(ui.item.label);
						$('#cargo_inicial').val(ui.item.value);
						return false;
					}
				}, open: function(){
					$(this).removeClass('ui-corner-all').addClass('ui-corner-top');
				}, close: function(){
					$(this).removeClass('ui-corner-top').addClass('ui-corner-all');
				}
			}).data("autocomplete")._renderItem = function( ul, item ){
				return $( "<li>" )
                .data( "item.autocomplete", item )
                .append( "<a>" + item.label + "<br>" + item.value + "</a>" )
                .appendTo( ul );
			}
	-->
{% endblock %}
{% comment %}
	See built in thempalte tags and filters at:
	https://docs.djangoproject.com/en/dev/ref/templates/builtins/?from=olddocs
	
	See basic template syntax at:
	https://docs.djangoproject.com/en/dev/ref/templates/api/
	
	https://docs.djangoproject.com/en/1.4/topics/templates/
{% endcomment %}
