{% extends "ladder/base.html" %}
{% load url from future %}
{% load static from staticfiles %}

{% load static from staticfiles %}

{% block pagetitle %}Arma tu plan de carrera{% endblock %}

{% block includestylesheet %}
		{{ block.super }}
{% endblock %}

{% block includejavascript %}
		{{ block.super }}
{% endblock %}

{% block pagestyle %}
	
{% endblock %}

{% block pageheader %}
	<h1>Arma tu plan de carera</h1>
{% endblock %}

{% block pagebody %}
	
{% endblock %}

{% block pagefooter %}
	<script>
        var paths = null;
        var vertexes = null;
        var edges = null;
        
        //resets visited status on all nodes within the graph
        function prepareGraph(){
            vertexes = serempre.graphs.prepareAbstractGraph(paths);
            edges = serempre.graphs.buildEdgeArray(vertexes);
        }
        
		$(document).ready(function(){
			serempre.cargos.futurePaths = sessionStorage.futurePaths;
			if(! serempre.cargos.futurePaths){
				window.location.href='/';
			}
            paths = JSON.parse(sessionStorage.futurePaths);
            prepareGraph();
            
		});
	</script>
	<!-- 
			//this turns an input field into a remote data sourced autocomplete
			$('#cargo_inicial_nombre').autocomplete({
				source: function(request, response){
					console.log("{% url 'get-cargos' %}" + request.term + "/");
					$.ajax({
						url: "{% url 'get-cargos' %}" + request.term
						, dataType: "json"
						, data: {
							//don't send any data to the service
						}, success: function(data, textStatus, jqXHR){
							response( $.map( data, function( item ) {
								return {
									label: item.fields.nombre,
									value: item.pk
								}
							}));
						}, complete: function(jqXHR, textStatus){
							//done requesting data
						}, error: function(jqXHR, textStatus, errorThrown){
							alert(textStatus);
						}
					});
				}, minLength: 2,
				select: function(event, ui){
					if(ui.item){
						console.log(ui.item.value);
						$('#cargo_inicial_nombre').val(ui.item.label);
						$('#cargo_inicial').val(ui.item.value);
						return false;
					}
				}, open: function(){
					$(this).removeClass('ui-corner-all').addClass('ui-corner-top');
				}, close: function(){
					$(this).removeClass('ui-corner-top').addClass('ui-corner-all');
				}
			}).data("autocomplete")._renderItem = function( ul, item ){
				return $( "<li>" )
                .data( "item.autocomplete", item )
                .append( "<a>" + item.label + "<br>" + item.value + "</a>" )
                .appendTo( ul );
			}
	-->
{% endblock %}
{% comment %}
	See built in thempalte tags and filters at:
	https://docs.djangoproject.com/en/dev/ref/templates/builtins/?from=olddocs
	
	See basic template syntax at:
	https://docs.djangoproject.com/en/dev/ref/templates/api/
	
	https://docs.djangoproject.com/en/1.4/topics/templates/
{% endcomment %}
